fastapi
uvicorn
mangum
SQLAlchemy
python-dotenv
pydantic
pymysql
aioredis
pydantic-settings
pandas
requests
bs4
aiokafka
asyncio
beautifulsoup4
APScheduler
python-telegram-bot
aiohttp
sse-starlette
pandas_ta